<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css">
    <title>add user</title>
  </head>
  <body>
    <form id="post-form" method="post" action="/add-user">
      <div class="form-info">
        <label>Name
          <input type="text" name="name">
        </label>
        <label>Number
          <input type="text" name="number">
        </label>
      </div>
      <div class="form-button">
        <input type="submit" value="Submit">
      </div>
    </form>
  </body>
</html>