html {
  height: 100%;
}

body {
  display: flex;
  justify-content: stretch;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #335C62;
  background-color: #f5f5f5;
}

ul {
  padding: 40px;
  overflow: hidden;
}

ul > li {
  list-style: none;
  position: relative;
  padding: 0 0 0 40px;
  margin: 0 0 20px 10px;
  transition: 0.3s;
}

ul > li::before {
  position: absolute;
  content: '•';
  top: -12px;
  left: 0;
  font-size: 40px;
  line-height: 50px;
  opacity: 0.75;
  transition: 0.3s;
}

ul > li:hover::before {
  opacity: 1;
  text-shadow: 0 0 4px;
  transition: 0.3s;
}

a {
  color: #335C62;
  opacity: 0.9;
  text-decoration: none;
}

li:hover a {
  opacity: 1;
}
